*, *:before, *:after {
  box-sizing:border-box;
}

body {
  background: #000;
}

.fas{
  z-index: 99;
}

.carousel-container {
  width: 70%;
  height: 390px;
  position: relative;
  margin: auto;
  top: 125px;
}

.image {
  width: 100%;
  height: 100%;
 }

 .image img {
  width: 100%;
  max-height: 100%;
  border: solid white 5px;
}

.prev, .next {
  position: absolute;
  margin-top: -230px;
  width: auto;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s ease;
  padding: 16px;
  user-select: none;
}

.playB {
  width: 24px;
  height: 18px;
  border-width: 17px;
  border-style: solid;
  border-color: #202020;
  box-sizing: border-box;
  border-width: 17px 17px 17px 17px;
  border-color: red blue green yellow;
  border-width: 12px 0px 12px 20px;
  border-color: red blue green yellow;
  border-color: transparent transparent transparent #fff;
}

.pauseB {
  width: 24px;
  height: 19px;
  border-width: 17px;
  border-style: solid;
  border-color: #fff;
  border-style: double;
  border-width: 0px 17px 0px 17px;
  border-width: 0px 0px 0px 17px;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  background: #000;
}

.slide {
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 12px;
}

.fader {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.2s;
  animation-name: fade;
  animation-duration: 1.2s;
}

@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 2}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 2}
}

.button {
   top: 87%;
   left: 3%;
   width: 25px;
   height: 20px;
   position: absolute;
}


/* media queries */
 /* tablet 940px - 870px */ 
 @media only screen and (min-width: 870px) and (max-width: 940px) {
    .prev, .next {
   	   margin-top: -245px;   
    }
 }
 @media only screen and (min-width: 790px) and (max-width: 870px) {
    .prev, .next {
   	   margin-top: -260px; 
    }
 }
@media only screen and (min-width: 720px) and (max-width: 790px) {
	  .prev, .next {
	     margin-top: -273px;
  	}
}

/* tablet 660px - 720px */ 
@media only screen and (min-width: 660px) and (max-width: 720px) {
	  .prev, .next {
		   margin-top: -283px;
	  }
}
@media only screen and (min-width: 610px) and (max-width: 660px) {
	  .prev, .next {
		   margin-top: -293px;
	  }
}

/* tablet / ipad */
@media only screen and (min-width: 560px) and (max-width: 610px) {
	  .prev, .next {
	     margin-top: -303px;
   	}
}
@media only screen and (min-width: 500px) and (max-width: 560px) {
	  .prev, .next {
		   margin-top: -313px;
	  }
}
/* smartphone landscape*/ 
@media only screen and (min-width: 460px) and (max-width: 500px) {
	  .prev, .next {
		   margin-top: -323px;
	  }
}
@media only screen and (min-width: 400px) and (max-width: 460px) {
	  .prev, .next {
	     margin-top: -333px;
  	}
}
@media only screen and (min-width: 340px) and (max-width: 400px) {
    .prev, .next {
       margin-top: -343px;
    }
}
@media only screen and (min-width: 290px) and (max-width: 340px){
	  .prev, .next {
		   margin-top: -347px;
	  }
}


/* #demo  - 980px */
@media only screen and (min-width: 950px) and (max-width: 980px) {
     .button {
   	   top: 84%;
       left: 4%;
       width: 25px;
       height: 20px;
     }
}
@media only screen and (min-width: 920px) and (max-width: 950px) {
     .button {
   	   top: 80%;
       left: 4%;
       width: 20px;
       height: 20px;
     }
}
 @media only screen and (min-width: 870px) and (max-width: 920px) {
     .button {
       top: 76%;
       left: 5%;
       width: 20px;
       height: 20px;
     }
 }
  @media only screen and (min-width: 840px) and (max-width: 870px) {
     .button {
       top: 72%;
       left: 5%;
       width: 20px;
       height: 20px;
     }
 }
 @media only screen and (min-width: 800px) and (max-width: 840px) {
     .button {
       top: 68%;
       left: 5%;
       width: 20px;
       height: 20px;
     }
     .slide {
       font-size: 18px;
     }
     .imgPlay {
        height: 17px;
        border-width: 17px;
        border-width: 10px 0px 10px 20px;
        border-width: 10px 17px 10px 15px;
     }
     .imgPause {  
        height: 16px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 15px;
     }
 }
 @media only screen and (min-width: 760px) and (max-width: 800px) {
     .button {
        top: 64%;
        left: 5%;
        width: 20px;
        height: 20px;
     }
     .slide {
        font-size: 18px;
     }
     .imgPlay {
        height: 17px;
        border-width: 17px;
        border-width: 10px 0px 10px 20px;
        border-width: 9px 17px 9px 15px;
     }
     .imgPause {  
        height: 16px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 15px;
     }
 }
  @media only screen and (min-width: 720px) and (max-width: 760px) {
     .prev, .next {
        font-size: 25px;
     }
     .slide {
        font-size: 18px;
     }
     .button {
        top: 62%;
        left: 5%;
        width: 20px;
        height: 20px;
     }
      .imgPlay {
        height: 17px;
        border-width: 17px;
        border-width: 10px 0px 10px 20px;
        border-width: 9px 17px 9px 15px;
     }
     .imgPause {  
        height: 16px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 15px;
     }
 }
 @media only screen and (min-width: 690px) and (max-width: 720px) {
     .prev, .next {
        font-size: 25px;
     }
     .slide {
        font-size: 18px;
     }
     .button {
        top: 60%;
        left: 5%;
        width: 20px;
        height: 18px;
     }
     .imgPlay {
        height: 16px;
        border-width: 17px;
        border-width: 10px 0px 10px 20px;
        border-width: 9px 17px 9px 15px;
     }
     .imgPause {  
        height: 16px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 14px;
     }
 }  
 @media only screen and (min-width: 640px) and (max-width: 690px) {
     .prev, .next {
        font-size: 22px;
     }
     .slide {
        font-size: 16px;
     }
     .button {
        top: 54%;
        left: 6%;
        width: 20px;
        height: 18px;
     }
      .imgPlay {
        height: 15px;
        border-width: 17px;
        border-width: 10px 0px 10px 20px;
        border-width: 9px 17px 9px 15px;
     }
     .imgPause {  
        height: 16px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 14px;
     }
   }

 @media only screen and (min-width: 610px) and (max-width: 640px) {
     .prev, .next {
        font-size: 20px;
     }
     .slide {
        font-size: 15px;
     }
     .button {
        top: 45%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 17px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 9px 17px 9px 15px;
     }
     .imgPause {  
        height: 15px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 14px;
     }
}

 @media only screen and (min-width: 580px) and (max-width: 610px)  {
     .prev, .next {
        font-size: 20px;
     }
     .slide {
        font-size: 14px;
     }
     .button {
        top: 45%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 15px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 7px 17px 7px 12px;
     }
     .imgPause {  
        height: 14px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 12px;
     }
 }

@media only screen and (min-width: 560px) and (max-width: 580px) {
     .prev, .next {
        font-size: 20px;
     }
     .slide {
        font-size: 13px;
     }
     .button {
        top: 45%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 15px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 7px 17px 7px 12px;
     }
     .imgPause {  
        height: 14px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 12px;
     }
}
@media only screen and (min-width: 510px) and (max-width: 560px) {
      .prev, .next {
        font-size: 20px;
     }
     .slide {
        font-size: 13px;
     }
     .button {
        top: 45%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 13px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 6px 17px 6px 12px;
     }
     .imgPause {  
        height: 13px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 11px;
     }
}
@media only screen and (min-width: 480px) and (max-width: 510px) {
      .prev, .next {
        font-size: 20px;
     }
     .slide {
        font-size: 13px;
     }
     .button {
        top: 40%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 13px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 6px 17px 6px 12px;
     }
     .imgPause {  
        height: 13px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 11px;
     }
}
@media only screen and (min-width: 420px) and (max-width: 480px) {
     .prev, .next {
        font-size: 16px;
     }
     .slide {
        font-size: 12px;
     }
     .button {
        top: 35%;
        left: 6%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 13px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 6px 17px 6px 12px;
     }
     .imgPause {  
        height: 12px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 11px;
     }
}
@media only screen and (min-width: 360px) and (max-width: 420px) {
     .prev, .next {
        font-size: 15px;
     }
     .image img {
      border: solid 4px #fff;
     }
     .slide {
        font-size: 11px;
     }
     .button {
        top: 30%;
        left: 7%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 11px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 6px 17px 6px 11px;
     }
     .imgPause {  
        height: 11px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 11px;
     }
}
@media only screen and (min-width: 320px) and (max-width: 360px) {
     .prev, .next {
        font-size: 13px;
     }
     .image img {
      border: solid 3px #fff;
     }
     .slide {
        font-size: 10px;
     }
     .button {
        top: 25%;
        left: 7%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 10px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 5px 17px 5px 8px;
     }
     .imgPause {  
        height: 10px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 8px;
     }
   }
@media only screen and (min-width: 290px) and (max-width: 320px) {
     .prev, .next {
        font-size: 12px;
     }
     .image img {
      border: solid 3px #fff;
     }
     .slide {
        font-size: 9px;
     }
     .button {
        top: 23%;
        left: 8%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 10px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 5px 17px 5px 9px;
     }
     .imgPause {  
        height: 10px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 8px;
     }
}
@media only screen and (min-width: 260px) and (max-width: 290px) {
      .prev, .next {
        font-size: 12px;
        margin-top: -357px;
     }
     .image img {
      border: solid 2px #fff;
     }
     .slide {
        font-size: 9px;
     }
     .button {
        top: 20%;
        left: 9%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 10px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 5px 17px 5px 9px;
     }
     .imgPause {  
        height: 9px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 8px;
     }
}
@media only screen and (min-width: 205px) and (max-width: 260px) {
     .prev, .next {
        font-size: 10px;
        margin-top: -367px;
     }
     .image img {
        border: solid 2px #fff;
     }
     .slide {
        font-size: 8px;
     }
     .button {
        top: 17%;
        left: 9%;
        width: 17px;
        height: 17px;
     }
      .imgPlay {
        height: 8px;
        border-width: 17px;
        border-width: 8px 0px 8px 20px;
        border-width: 4px 17px 4px 7px;
     }
     .imgPause {  
        height: 7px;
        border-width: 17px;
        border-width: 0px 17px 0px 17px;
        border-width: 0px 0px 0px 6px;
     }
 }